.main{margin: 20px 0 20px 30px;}
.pwd{height: 31px;width: 220px;padding-right:41px;}

.icon{position:absolute;left: 300px; z-index: 5;
    background-image: url(eye-close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 42px;
    height: 35px;
}